$topcolor: #334443; /*The background color for the first part of the footer */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); /* Imports a font from google fonts */

.footerone { /* Styles for the top part of the footer */
    display: flex; /* Sets the type of display of the div */
    flex-direction: row; /* Sets the direction of the main axis of the flexbox */
    flex-wrap: wrap; /* Tells the flexbox to wrap the icons if the space its so small */
    background-color: $topcolor; /* The color of the background, this gets the value from the variable of the top of the file */
    padding: 10px; /*The padding of the top part of the footer */
    border-bottom: 1px solid gray; /* A divisory line to divide the top and bottom part of the footer */
}

.footerone__terms {
    display: inline-block;
    span {
        font-family: 'Noto Sans JP', sans-serif;
        line-height: 54px;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        margin: 0 20px 0 20px;
        a {
            text-decoration: none;
        }
    }
    span:hover {
        text-decoration: underline;
    }
}

@media (max-width: 825px) {
    .footerone__socialmedia {
        margin-left: 0;
        margin: 0 auto 0 auto;
    }
    .footerone__terms {
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 550px) {
    .footerone__terms {
        span {
            display: block;
        }
    }
}

